.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.auth-page {
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.auth-form-wrapper {
  background: linear-gradient(to bottom, #f2f5f8,hsla(210 2% 96% / .5));
  box-shadow: 0px 2px 4px rgba(51, 55, 59, 0.08),0px 1px 10px rgba(51, 55, 59, 0.06);
  border-radius: 0.5rem;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  min-width: 220px;
  max-width: 530px;
}

#login-form, #register-form {
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
  max-width: 390px;
}

.form-label {
  align-self: flex-start;
  padding-bottom: 3px;
}

.form-input {
  margin-bottom: 10px;
  max-width: 380px;
  background: white;
  filter: drop-shadow(0 2px 2px rgba(51, 55, 59, .08));
  border: none;
  border-radius: 4px;
  height: 30px;
}

#username {
  margin-bottom: 20px;
}

.form-result {
  margin-bottom: 30px;
  align-self: flex-start;
  color: #ffb916;
}

#login-password-result {
  margin-bottom: 30px;
}

.form-btn {
  border: none;
  padding: 5px;
  border-radius: 0.5rem;
  font-size: 1.1em;
  
  cursor: pointer;
  width: 38%;
  min-width: 105px;
  max-width: 155px;
  align-self: center;
  filter: drop-shadow(0 2px 2px rgba(51, 55, 59, .08));
}

.form-btn:hover {
  background-color: #2250f4;
  color: white;
}